body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}

.header {
  background-color: #19B3B1;
  width: 100%;
  height: min-content;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 5rem;
  color: white;
}

h1 {
  font-size: 2rem;
  text-justify: left;
  margin: 1rem;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.content {
  position: absolute;
  bottom: 0px;
  top: 5rem;
  overflow: hidden;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.map {
  height: 100%;
  width: 70%;
  background-color: #77dd77;
  float: left;
}

.right-stats-display {
  height: 100%;
  width: 30%;
  background-color: #d6e3f2;
  float: right;
  color: #565656;
  font-family: "Raleway", sans-serif;
}

h2 {
  margin: 0;
  padding 0.5rem;
  font-size: 1.25rem;
  color: #303030;
}


.associations {
  width: 100%;
  height: 30%;
  border: black;
  border-width: thin;
  margin: 0;
  padding: 1rem;
}

.second-stats {
  width: 100%;
  height: 30%;
  border: black;
  border-width: thin;
  margin: 0;
  padding: 1rem;
}

.third-stats {
  width: 100%;
  height: 30%;
  border: black;
  border-width: thin;
  margin: 0;
  padding: 1rem;
}

.clear {
  clear: both;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.content {
  position: absolute;
  bottom: 0px;
  top: 5rem;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.map {
  height: 100%;
  width: 80%;
  background-color: #77dd77;
  float: left;
}

.right-stats-display {
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: #EEECEC;
  float: right;
  color: #565656;
  font-family: "Raleway", sans-serif;
}

h2 {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.1rem;
  color: #303030;
}

ul {
  margin-top: 0.4rem;
}

.associations {
  background-color: white;
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.second-stats {
  background-color: white;
  width: 100%;
  height: 29%;
  margin: 0;
  margin-top: 16px;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#sentiment-pie-chart {
  margin: 8 auto;
}

.third-stats {
  background-color: white;
  width: 100%;
  height: 29%;
  margin: 0;
  margin-top: 16px;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#response-bar-chart {
  margin: 8 auto;
}

.clear {
  clear: both;
}

.button {
  background-color: #19B3B1;
  border: double;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

/* Statistics page style rules */
.stats-area {
  height: 100vh;
  width: 100vw;
}

.prediction-panel {
    height: 50vh;
    margin: 24 auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.stats-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  width: 500px;
  height:500px;
}

#map-key {
  position: absolute;
  top: 30%;
  left: 60%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Raleway", sans-serif;
  line-height: 30px;
  padding-left: 10px;
}
